

md-sidenav
{
    overflow: hidden;
}

.backgroundImage{
    height: 190px;
    width: 320px;
    background-image: url("../pics/ToggleHeader.png");
}

.profilePic{
    padding-top: 30% ;
}

.profilePic>img
 {
     border-radius: 50%;
     width:88px;
     height: 88px;
 }

.dashboard_Pic>img
{
    border-radius: 50%;
    width:112px;
    height: 112px;
}

.toolbar_backimg{

    background-image: url("../pics/top-bg.png");
    background-size: 100% 100%;
}

.numbertasks
{
    font-size: 45px;
}

.remain_task
{
    background-color: #4DC2FF;
    height: 100%;
    padding: 3% 0 3% 0;
}

.complete_task
{
    background-color: #FF7FE5;
    height: 100%;
    padding: 3% 0 3% 0;
}

.sidenav_back_color
{
    background-color:#1D224B
}

.txt_color
{
    color: white;
}

.middleButton_gt_sm
{
    margin-top: -20%;
}

.middleButton_sm
{

    margin-top: -30%;
}

.middleButton_xs
{
    margin-top: -54%;
}
