

.backgroundImage{
    background-image: url("../pics/ToggleHeader.png");
    background-size: 100% 100%;
}

.toolbar_backimg{

    background-image: url("../pics/top-bg.png");
    background-size: 100% 100%;
}

.profilePic{
    padding-top: 30% ;
}

.profilePic>img
 {
     border-radius: 50%;
     width:88px;
     height: 88px;
 }

.dashboard_Pic>img
{
    border-radius: 50%;
    width:112px;
    height: 112px;
}


.remain_task
{
    background-color: #4DC2FF;
    padding-top: 25px;
    padding-bottom: 25px;

}

.complete_task
{
    background-color: #FF7FE5;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sidenav_back_color
{
    background-color:#1D224B
}

.txt_color
{
    color: white;
}

.hidesquarebox
{
    outline: none;
}

.set_btn_align{
    margin-top: -150px;
}