

<div ng-controller="pic_dialog_ctrl">

<!--Picture Dialog Box

<input type="file" id="fileInput">-->

    <!--if(!angular.module.element(this).scope.cropper.sourceImage){this.nextElementSibling.click()}-->

    <div onclick="this.nextElementSibling.click()">
        <canvas width="400" height="300" id="canvas" image-cropper image="ctrl.cropper.sourceImage" cropped-image="ctrl.cropper.croppedImage" crop-width="300" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="ctrl.bounds"></canvas>
    </div>
    <input ng-hide="1" type="file" img-cropper-fileread image="ctrl.cropper.sourceImage" />
    <br><br>
    <!--<div>Cropped Image (Left: {{ctrl.bounds.left}} Right: {{ctrl.bounds.right}} Top: {{ctrl.bounds.top}} Bottom: {{ctrl.bounds.bottom}})</div>-->
    <div ng-show="ctrl.cropper.croppedImage!=null"><img ng-src="{{ctrl.cropper.croppedImage}}" /></div>

    <md-button class="md-raised md-primary" ng-disabled="!ctrl.cropper.croppedImage" ng-click="ctrl.saveImg()" >Save</md-button>
    <md-button class="md-raised md-primary" ng-click="ctrl.closeDialog()">Cancel</md-button>
</div>