

<div ng-controller="pic_dialog_ctrl">

    <div onclick="if(!this.nextElementSibling.value){this.nextElementSibling.click()}">
        <canvas width="400" height="300" id="canvas" image-cropper image="ctrl.cropper.sourceImage" cropped-image="ctrl.cropper.croppedImage" crop-width="300" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="ctrl.bounds"></canvas>
    </div>
    <input ng-hide="true" type="file" img-cropper-fileread image="ctrl.cropper.sourceImage" />


    <md-button class="md-raised md-primary" ng-disabled="!ctrl.cropper.croppedImage" ng-click="ctrl.saveImg()" >Save</md-button>
    <md-button class="md-raised md-primary" ng-click="ctrl.closeDialog()">Cancel</md-button>
</div>