
<div ng-show="!ctrl.loader">


    <!--Side nav Bar-->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 sidenav_back_color" md-component-id="left">

        <div class="backgroundImage">

            <div class="profilePic" layout="row" layout-align="start center" layout-padding>

                <img class="hidesquarebox" ng-src="{{ctrl.user_details.profilePic}}" alt="Profile Picture" ng-click="ctrl.pictureDialog()">
                <span class="txt_color md-headline">{{ctrl.user_details.firstName}} {{ctrl.user_details.lastName}}</span>
            </div>

        </div>


        <md-list>
            <md-list-item>
                <md-button aria-label="dashboard" class="md-primary">
                    <ng-md-icon icon="dashboard"></ng-md-icon>
                    <span class="txt_color">Dashboard</span>
                </md-button>
            </md-list-item>

            <md-list-item>
                <md-button aria-label="logout" class="md-primary" ng-click="ctrl.logout()">
                    <ng-md-icon icon="logout"></ng-md-icon>
                    <span class="txt_color">Logout</span>
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>




    <!--Header toolbar-->
    <div layout="column" >

        <div class="toolbar_backimg">

            <md-button aria-label="Menu" ng-click="ctrl.toggleLeft()" class="md-icon-button">
                <ng-md-icon icon="menu" style="fill:white" layout="row" layout-align="center center"></ng-md-icon>
                <md-tooltip>
                    Menu
                </md-tooltip>
            </md-button>

            <div class="dashboard_Pic" layout="row" layout-align="start center" layout-padding>

                <img class="hidesquarebox" ng-src="{{ctrl.user_details.profilePic}}" alt="Profile Picture" ng-click="ctrl.pictureDialog()">
                <span class="txt_color md-headline">{{ctrl.user_details.firstName}} {{ctrl.user_details.lastName}}</span>
            </div>

        </div>



        <div layout="row">

            <span class="remain_task txt_color" flex="50" layout="column" layout-align="center center">

                <span class="md-display-2">{{ctrl.user_todos.length}}</span>
                <span>Remaining Tasks</span>

            </span>

            <span class="complete_task txt_color" flex="50"  layout="column" layout-align="center center">

                <span class="md-display-2">{{ctrl.user_details.completedTasks}}</span>
                <span>Complete Taks</span>

            </span>

        </div>

    </div>




    <!--Add to do button-->
    <div  layout="row" layout-align="center start">

        <md-button class="md-fab set_btn_align" style="background-color: white" aria-label="Add Todo" ng-click="ctrl.showDialog()">
            <md-tooltip>
                Add Todo
            </md-tooltip>
            <ng-md-icon icon="add" style="fill: black" size="30" layout="row" layout-align="center center"></ng-md-icon>
        </md-button>
    </div>




    <!--Todo list -->
    <div layout-margin layout-padding>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="aa in ctrl.user_todos">
                <img ng-if="$first" src="./pics/first.png" class=""/>
                <img ng-if="$last && !$first" src="./pics/last.png" class=""/>
                <img ng-if="$even  && !$first && !$last" src="./pics/even.png" class=""/>
                <img ng-if="$odd  && !$first && !$last" src="./pics/odd.png" class=""/>

                <div class="md-list-item-text" layout="column">
                    <h3 style="padding-left: 3%;font-size: 225%;">{{aa.name}}</h3>
                </div>

                <md-menu>
                    <md-button style="margin-top: 25%" class="" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                        <ng-md-icon size="30" md-menu-origin icon="expand_more"></ng-md-icon>
                        <md-tooltip>
                            Expand
                        </md-tooltip>
                    </md-button>
                    <md-menu-content width="4">
                       <md-menu-item>
                            <md-button ng-click="ctrl.deleteTodo($index)"><ng-md-icon icon="delete" size="20"></ng-md-icon>
                            Delete</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </md-list>
        </div>


    </div>





<!--Loading profile Circular-->
<div ng-show="ctrl.loader" layout="row" layout-align="center center">

    <md-progress-circular class="md-hue-2" md-mode="indeterminate" md-diameter="200px"></md-progress-circular>
    Loading Profile...

</div>